---
const { image, title, desciption, cardState, url } = Astro.props;
// const cardState = 'red'

const [cardWidth, cardColor, span] =
  cardState === "green" ? ["25rem", "--greenish", "1"] : ["25rem", "--accent-color", "1"];
---

<div
  class="learning-card"
  style={{
    // width: '100%',
    backgroundColor: `var(${cardColor})`,
    // gridColumn: `span ${span}`,
  }}>
  <a href={url} target="_blank" rel="noopener noreferrer">
  <header>
    <img
      src={image}
      alt=""
    />
    <h3>{title}</h3>
  </header>
  <p>
    {desciption}
  </p>
</a>
</div>

<style>
  h3 {
    margin: 0;
    font-weight: 800;
    font-size: 1.8rem;
    /* font-size: 50px; */
    color: white;
  }

  header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* background-color: mediumseagreen; */
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    /* background-color: red; */
  }

  header > img{
    width: 4rem;
    /* height: 5rem; */
    /* object-fit: cover; */
  }

  p {
    margin: 0;
    /* margin-left: 1rem; */

    font-size: 1rem;
  }

  .learning-card {
    margin: 0;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    color: var(--whiteish);
    transition-duration: 250ms;
    /* min-width: 25rem; */
    /* cursor: grab; */
    /* width: 100%; */
    /* width: var({cardWidth}); */
    /* background-color: var({cardColor}); */
  }

  @media(min-width: 1024px){
    .learning-card:hover{
      transform: scale(1.05);
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
    }
  }

  /* .learning-card:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
  } */

  
</style>
