---
import LearningCard from "./sub-components/learning-card.astro";
import tensorflowLogo from "../portfolio_images/Tensorflow-logo.png";
import flutterlLogo from "../portfolio_images/flutter-logo.png";
import reactlLogo from "../portfolio_images/react-logo.png";
import unitylLogo from "../portfolio_images/unity-logo.png";
import pandaslLogo from "../portfolio_images/pandas_mark_white.svg";
import matplotlibLogo from "../portfolio_images/matplotlib-logo.png";
import numpyLogo from "../portfolio_images/numpy-logo.svg";
import seabornLogo from "../portfolio_images/seaborn-logo.svg";
---

<div id="learning">
  <h2>Stuff I Learned over The <span>Years</span></h2>
  <div id="learning-cards">
    <LearningCard
      url="https://www.tensorflow.org/"
      image={tensorflowLogo}
      title="Tensorflow"
      desciption="TensorFlow is a free and open-source software library for machine learning and artificial intelligence"
    />
    <LearningCard
      url="https://reactjs.org/"
      image={reactlLogo}
      title="React"
      desciption="React is a open-source front-end JavaScript library for building UI based on components."
    />
    <LearningCard
      url="https://flutter.dev/community"
      image={flutterlLogo}
      title="Flutter"
      desciption="Flutter is an open-source UI software development kit created by Google. It is used to develop cross-platform applications."
    />
    <LearningCard
      url="https://unity.com/"
      image={unitylLogo}
      title="Unity"
      desciption="Unity is a cross-platform game engine developed by Unity Technologies."
    />
    <LearningCard
      url="https://pandas.pydata.org/"
      image={pandaslLogo}
      title="Pandas"
      desciption="Pandas is a software library for data manipulation and analysis.In particular, it offers manipulating numerical tables and time series."
    />
    <LearningCard
      url="https://matplotlib.org/"
      image={matplotlibLogo}
      title="Matplotlib"
      desciption="Matplotlib is a comprehensive library for creating static, animated, and interactive visualizations in Python."
    />
    <LearningCard
      url="https://numpy.org/"
      image={numpyLogo}
      title="Numpy"
      desciption="NumPy is a library for large, multi-dimensional arrays and matrices, along with a large collection of mathematical functions."
    />
    <LearningCard
      url="https://seaborn.pydata.org/"
      image={seabornLogo}
      title="Seaborn"
      desciption="Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics."
    />
  </div>
</div>
<style>
  h2 {
    font-weight: 800;
    font-size: 2rem;
  }

  #learning-cards {
    display: grid;
    gap: 1rem;
  }

  #learning {
    padding: 4rem 2rem;
    /* background-color: red; */
  }

  @media (min-width: 768px) {
    #learning-cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 3rem;
      width: 35vw;
    }

    /* h2:hover > span {
      text-decoration-line: none;
      color: var(--blackish);
    } */

    #learning-cards {
      width: 50rem;
      margin: 0 auto;
    }
  }
</style>
